
/*top and bottom menue style*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F2F2F2;
  }
  
  li {
    float: left;
    border-right:none;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #e2e2e2;
  }
  
  .active-1 {
    background-color: #FFBB00;
    border-radius: 12px;
    margin-top:  8px;
    margin-bottom: 10px;
    padding: 13px 13px 13px 13px;
  }

  li a:hover {
    background-color: #f3a20b;
  }

/*Global Selectors */
* {box-sizing: border-box;}

  body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FFBB00;
    
  }

  p {
    font-family: "poppins", sans-serif;
font-weight: 700;
font-style: normal;
  }

  .img-display {
    max-width: 100%;
    height: auto;
    width:  300px;
    height: 300px;
    object-fit: cover;
  }

  .img-display2 {
    max-width: 100%;
    height: auto;
    width:  1920px;
    height: 300px;
    object-fit: cover;
  }


  .hero-img {
    background-image: url(../images/Background4.png);
    background-size: cover;
    height: 400px;
    position: relative;
    background-position: center;
  }

  .hero-img2 {
    background-image: url(../images/airam-dato-on-vigTjjPlMYE-unsplash.jpg);
    background-size: cover;
    height: 400px;
    position: relative;
    background-position: center;
  }

  .icons {
    padding-left: 30px ;
    padding-top: 8px;
  }

  h2 {
    color: #F2F2F2;
    font-family: "poppins", sans-serif;
font-weight: 900;
font-style: normal;
  }

  a {
    font-weight: light;
    font-family: "poppins", sans-serif;
font-weight: 700;
font-style: normal;
  }

  /* layout */
  .display-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  .max-width {
    margin: 0 auto;
    max-width: 1366px;

  }
  .max-width-sm{
    max-width: 800px;
    margin: 0 auto;
  }

  /* alignment */
  .txt-center {
    text-align: center;
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  /* spacing */
  .margin-btm {
    margin-bottom: 2em;
  }
  .padded {
    padding: 32px;
  }

  /* kassama Card */
  .kassama-card {
    padding: 1em;
    background-color: #FFBB00;
    
  }

  /* Buttons */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F2F2F2;
    text-decoration: none;
    color: #333;
    border-radius: 12px;
    font-family: "poppins", sans-serif;
font-weight: 700;
font-style: normal;
  }
  
  /* colors */

  span.c1 {
    color: #FFBB00;
  }

  .gray {
    background-color: #FFBB00;
  }

  @media (max-width: 1920px) {
  .display-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 620px) {
  .display-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
  }
}

/* animation */
.fade-in{
  opacity: 0;
}

.fade-in.active{
animation-name: fade-in;
animation-timing-function: ease;
animation-duration: 5s;
animation-fill-mode: forwards;
}




@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}







